<!DOCTYPE html>
<html>
<head>
    <title>Test Debug Bar</title>
</head>
<body>
<h1>Test de la Toolbar Symfony</h1>
<p>Cette page est utilisée pour vérifier l'affichage de la barre de debug.</p>
</body>
</html>